{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": ["> 5%"],
        "corejs": 3,
        "useBuiltIns": "usage"
      }
    ],
    "@babel/preset-typescript",
    "@babel/preset-react"
  ]
}