.button {
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  border: 1px solid darkgray;
  cursor: pointer;
  font-size: 14px;
  width: 40px;
  height: 30px;
}
.button--active {
  font-weight: bold;
  background-color: #ddd;
}
.button--active:hover {
  background-color: #eee;
}
.button--active:active {
  font-weight: normal;
  background-color: white;
}
.button--no-active {
  background-color: white;
}
.button--no-active:hover {
  background-color: #eee;
}
.button--no-active:active {
  font-weight: bold;
  background-color: #ddd;
}
