.icon-button {
  border: 1px solid darkgray;
  cursor: pointer;
  position: relative;
  top: 9px;
  width: 40px;
  height: 30px;
}
.icon-button:hover {
  border: 1px solid darkgray;
}
.icon-button:active {
  border: 1px solid #666;
}